extends layout
block main
	main.container
		h1 About BookKeepr
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore officia ex facilis, velit iure voluptatibus illum minima at impedit debitis!
		p
			small Version: 1.0.0